img {
  min-width: 200px;
  max-width: 350px;
  vertical-align: top;
  float: left;
  margin-right: 10px;
}

.button-container {
  display: flex;
  justify-content: left;
  width: 220px;
}

.button-row {
  display: table-cell;
  max-width: 600px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.datepicker-row {
  display: table-cell;
  max-width: 600px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}


.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
