:host {
  display: flex;
  flex-direction: column;
  gap: 40px;
  //max-width: 1200px;
}

.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.content-panel {
  padding: 24px 24px 24px;
}

.timeline {
  padding: 24px 24px 24px 24px
}

.timeline-image {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

.custom-content {
  padding: 18px;
  border: solid 3px rebeccapurple;
  background-color: rebeccapurple;
  border-radius: 24px;
  box-sizing: border-box;
  img {
    min-width: 200px;
    max-width: 350px;
    vertical-align: top;
    float: left;
    margin-right: 10px;
  }
}

.timeline-event-icon {
  min-width: 42px;
  min-height: 42px;
  max-width: 42px;
  max-height: 42px;
  border-radius: 50%;
  background-color: lightgray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 0;
}

.event-dates-label {
  min-width: 70px;
  display: table-caption;
  text-align: center;
  padding: 2px 8px;
  border-radius: 25px;
  border: solid 3px rebeccapurple;
  font-size: 12px;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: center;
  max-width: 440px;
}


/*copied*/
.custom-timeline {
  ::ng-deep .ngx-mat-timeline-item-line {
    padding: 1px ;
    background-color: rebeccapurple;
  }
  ::ng-deep .ngx-mat-timeline-item-content {
    position: relative;
  }
}

.custom-timeline.ngx-mat-timeline-vertical,
.ngx-mat-timeline-item {
  ::ng-deep .ngx-mat-timeline-item-line {
    width: 3px;
  }
  ::ng-deep .ngx-mat-timeline-item-content {
    // connection line from content box
    &:before {
      content: ' ';
      display: block;
      height: 3px;
      width: 24px;
      background-color: rebeccapurple;
      position: absolute;
      top: 15px;
    }
  }
}



.custom-timeline.ngx-mat-timeline-vertical.ngx-mat-timeline-center
.ngx-mat-timeline-item {
  &:nth-child(2n) {
    ::ng-deep .ngx-mat-timeline-item-content {
      img {
        float: right;
        margin: 0 0 0 10px;
      }
      &:before {
        left: initial;
        right: -24px;
      }
    }
  }
  &:nth-child(2n + 1) {
    ::ng-deep .ngx-mat-timeline-item-content {
      img {
        float: left;
        margin: 0 10px 0 0;
      }
      &:before {
        left: -24px;
      }
    }
  }
}
